<html>
    <head>
        <title>Senha incorreta</title>
        <script>
            confirm("Senha incorreta")
            // altera url
            window.location.replace("/room/<%= roomId %>")   
        </script>
    </head>

</html>